@import "tailwindcss";

@layer base {
  body {
    background-color: #141414;
    color: #ffffff;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}

/* Custom scrollbar styles */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
